{% extends "admin/layout.twig" %}
{% block title %} {{l.home.28}}{% endblock %}

{% block content %}

{% include "admin/embalage/embalageModals.twig" %}



<!-- Main content -->
<div class="content-wrapper">




{% include "admin/embalage/embalageHeader.twig" %}






<!-- Content area -->
<div class="content">


{% include "admin/elements/flash.twig" %}


<style>
        table.table.table-bordered tr td {
    padding: 3px;
}
table.table.table-bordered tr th {
    padding: 3px;
}
</style>
       








                <div class="panel panel-flat tbaiel">
                    <table class="table  datatable" >
                        <thead>
                            <tr>
                                <th><b> المنتوج [REF] </b></th>
                                <th><b> كمية الخروج </b></th>
                            </tr>
                        </thead>
                        <tbody>  
                        {% for item in HistorySortie %}
                         <tr>
                            
                            
                            
                             <td>{{item.product.name}}</td>
                             <td>{{item.sum_valid}}</td>
                            
                             
                         </tr>
                             {% endfor %}
                         
                      
                        </tbody>
                    </table>
                </div>
               
              

</div>
</div>
{% endblock %}